
body {
    background-color : #1976D2;
    font-family:  'Roboto', sans-serif;
    color : black;
}

.data_graph{
  color: black;
  position: relative;
  vertical-align: top;
  float: right;
  background-color: white;
  left:10%;
  height: 500px;
  display: block;
  overflow: auto;
  padding-left: 0px;
  padding-right: 0px;

}

#data_graph3{
  color: black;
  position: relative;
  vertical-align: top;
  float: right;
  background-color: white;
  left:10%;
  display: block;
  overflow: auto;
  padding-left: 0px;
  padding-right: 0px;
}



.tabHeader{
  background-color: #CFD8DC;
}

#div_graph{
  margin-right:0px;
  margin-left: 0px;
  /* float: left; */
  right: 10%;
  width :100%;
}

#div_graph2{
  margin-right:0px;
  margin-left: 0px;
  /* float: left; */
  right: 10%;
  width :100%;
}

#div_graph3{
  margin-right:0px;
  margin-left: 0px;
  /* float: left; */
   right: 10%;
  width :100%;

}

table, th, td {
    border: 1px solid black;
    width: 100%;
    height: 100%;
}



table{
  margin: 0px;
  padding: 0px;
}

tbody{
  height: 500px;
  width: 100%;
}



.myTitle{
  color:white;
  text-shadow: 2px 1px black;
  text-align: left;
}

#nav{
  background-color: white;
}

#download_chart1{
  text-align: right;
  margin-left: 196%;
}
#download_chart2{
  text-align: right;
  margin-left: 250%;
}
#download_chart3{
  text-align: right;
  margin-left: 240%;
}

/*#nbEpiByEpi{
top: 50%;
}*/




/* **************************************************************** */

body{
    width:100%;
    height:100%;
}

li{
  padding-right: 30px;
}
